<h1>All Submitted Complaints</h1>

<% if notice.present? %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
<% end %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Product Name</th>
      <th>Product Link</th>
      <th>Complaint</th>
      <th>Date Submitted</th>
    </tr>
  </thead>
  <tbody>
    <% @complaints.each do |complaint| %>
      <tr>
        <td><%= complaint.name %></td>
        <td><%= complaint.email %></td>
        <td><%= complaint.product_name %></td>
        <td><%= complaint.product_link %></td>
        <td><%= complaint.complaint_text %></td>
        <td><%= complaint.created_at.strftime("%d-%m-%Y %H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back to Admin Dashboard', admin_dashboard_path, class: 'btn btn-secondary' %>
