<!-- app/views/users/show.html.erb -->
<div class="container mt-5">
  <h1><%= @user.name %>'s Profile</h1>
  
  <div class="card mt-3">
    <div class="card-body">
      <p><strong>Email:</strong> <%= @user.email %></p>
      <p><strong>Name:</strong> <%= @user.name %></p>
      <p><strong>Address:</strong> <%= @user.address %></p>
      <p><strong>Phone Number:</strong> <%= @user.phone_number %></p>

      <%= link_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
